body{
    background-color: aquamarine
}

.imagem-logo{
    width: 7%;
}
.cabecalho{
    display: flex;
    justify-content: space-around;
}

.cabecalho-telefone{
    display: inline-block;
    margin: 0 16;
    font-size: 20px;
}

.imagemcatsdog{
    width: 25%;

}